body {
    background-image: url(./images/forex.jpg);
    background-size: cover;
}

h1 {
    border-radius: 5px;
    margin-right: 65%;
    padding: 2px;
}

.icon {
    position: absolute;
    height: 35px;
    width: 35px;
    font-size: 25px;
}

section {
    display: block;
}

span {
    float: right;
    border-radius: 5px;
    margin-right: 68%;
    padding: 2px;
    background-color: lightgreen;
}

p{
    margin-left: 60px;
    padding-top: 10px;
    font-weight: bold;
}

.currencyColor {
    color: blue;
}